<!DOCTYPE html>
<html>
<head>
  <title>just4Magic - 在这里，发现奇迹 </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="wb:webmaster" content="76037d06a69a83b8" />
</head>
<body>

<div class="container row">


  <div class="span12 home">
    <div class="wrapper">

      <h1 class="description">想看点NB的魔术？</h1>
      <span class="logo">或者，看到了不错的魔术</span><br>
      <h1 class="description">想要分享一下？</h1>
      <span class="notice">不过，这里可没有什么免费教学</span><br>
      <!--<span class="logo">在这里，我们一起交流、分享<span class="red">有意思的魔术</span> </span>-->
    </div>
    <%= link_to '现在开始', microposts_path, class:'start-btn' %>
 <!--   <h2>  <%= random_image %></h2>-->
    </div>
  <div id="home-bg">
    <img src="<%= random_image %>" >
    <!--<img src="http://imgcdn.ph.126.net/NEDmFw-ti5ynGC3pImcygQ==/2549318864086396440.jpg" >-->
  </div>

</div>

<%= javascript_include_tag "application" %>
<%#= javascript_include_tag 'masonry.pkgd' %>
</body>
</html>
