<div class="row">
  <div class="notes">
    <% @notes.each do |note| %>
        <div class="note span7">
          <%= link_to note do  %>
              <h2 class="title"><%= note.title %></h2>
          <% end %>
          <%= link_to note, class: 'preview' do  %>
              <%=truncate(note.content, length: 250) %>
              <span class="read-all">
                继续阅读
              <i class="icon-double-angle-right"></i>
            </span>
          <% end %>
        </div>

    <% end %>
  </div>
  <%= link_to 'New Note', new_note_path %>
</div>



