<div class="row">
  <div class="note">
    <h2 class="title"><%= @note.title %></h2>
    <%= simple_format @note.content%>

    <% if @note.user == current_user %>
    <%= link_to 'Edit', edit_note_path(@note) %>
    <% end %>
  </div>
  <div class="comments">
    <% @comments.each do |comment|%>
       <div class="comment group" >
         <div class="avatar">
           <%  if comment.user && comment.user.image %>
             <%= image_tag comment.user.image  %>
           <% else %>
             <%= image_tag "http://p1.zhimg.com/c0/e3/c0e310228_xs.jpg" %>
           <% end %>
         </div>
         <div class="comment_body">
           <div class="user"> <%= comment.user.name if comment.user %></div>
           <div class="content">
             <%= simple_format comment.content %>
           </div>
         </div>
         </div>

    <% end %>

    </div>
    <div class="new_comment">
      <h4>添加评论</h4>
      <%= form_for([@note, @note.comments.build]) do |f| %>
          <div class="field">
            <%#= f.label :content %>
            <%= f.text_area :content, placeholder: "写下你的评论" %>
          </div>
          <div>
            <%= f.submit '评论', class: "btn" %>
          </div>
      <% end %>
    </div>
  </div>

