<div class="row">
  <div class="span8">
    <h2 class="cover-micropost-title"><%= @user.name %>的推荐</h2>
    <div class="list">
      <% @microposts.each do |micropost| %>
          <div>
            <i class="icon-heart"></i>
            <span><%= micropost.reputation_for(:likes).to_i %></span>
            <%= link_to micropost.title, micropost.video_url.presence || micropost.article_url%>
            <div class="pull-right">
              <% if micropost.user = current_user %>
                  <%= link_to '删除', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
              <% end %>

            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>



<!--
  <h2 class="cover-micropost-title">我喜欢的</h2>
<div class="microposts">
  <div class="row" id="microposts-list">
    <% @microposts.each do |micropost| %>
        <%= link_to micropost do %>
            <%#= link_to micropost.video_url, :target => "_blank" do %>

            <div class="micropost-big span3">

              <%= image_tag(micropost.video_logo_url)  %>

              <div class="info">
                <h5><%= micropost.title %> </h5>
                <% if micropost.user %>
                    <h6>Post by cqcn1991</h6>
                <% else %>
                    <h6>Post by <%= micropost.username %></h6>
                <% end %>
                <div class="like">
                  <% if current_user && current_user.like_for?(micropost) %>
                      <i class="icon-heart icon-heart-red"></i>
                  <% else %>
                      <i class="icon-heart"></i>
                  <% end %>
                  <%= micropost.reputation_for(:likes).to_i %>
                </div>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>
</div>-->
