<% if @user.image %>
    <%= image_tag(@user.image) %>
<% end %>

<%#= image_tag(@user.name) %>

<div class="microposts">
  <div class="row">
    <% @microposts.each do |micropost| %>
        <%= link_to( micropost, remote: true) do %>

            <div class="micropost-big span4">

              <%= image_tag(micropost.video_logo_url)  %>

              <div class="info">
                <h5><%= micropost.title %> </h5>

                <div class="like">
                  <% if current_user && current_user.like_for?(micropost) %>
                      <i class="icon-heart icon-heart-red"></i>
                  <% else %>
                      <i class="icon-heart"></i>
                  <% end %>
                  <%= micropost.reputation_for(:likes).to_i %>
                </div>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>
</div>

