<div class="row news_collection">
    <% @news_items.each do |news| %>
       <div class="span8 micropost-big">
         <div class="info">
           <div class="vote">
             <i class="icon-caret-up icon-2x"></i>
           </div>

           <div class="content">
             <%= link_to news.address, target: '_blank' do  %>
                 <h2><%= news.title %></h2>
             <% end %>

             <p><%= news.domain %>  by username</p>
           </div>


         </div>


       </div>
    <% end %>
</div>

<h1>Listing news_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news_items.each do |news_item| %>
  <tr>
    <td><%= news_item.title %></td>
    <td><%= news_item.description %></td>
    <td><%= link_to 'Show', news_item %></td>
    <td><%= link_to 'Edit', edit_news_item_path(news_item) %></td>
    <td><%= link_to 'Destroy', news_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News item', new_news_item_path %>
