<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_item.title %>
</p>

<p>
  <b>Address:</b>
  <%= @news_item.address %>
</p>

<p>
  <b>Description:</b>
  <%= @news_item.description %>
</p>

<p>
  <b>User:</b>
  <%= @news_item.user_id %>
</p>


<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<%= link_to 'Back', news_items_path %>
