<!--<h2 class="sign_in">
  网站正在内测中，请<%= link_to '使用微博登陆',user_omniauth_authorize_path(:weibo), class: 'red' %>
</h2>-->
<h2>登陆</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true  %>
      <%= f.input :password, label: '密码', required: false  %>
      <%= f.input :remember_me, as: :boolean, inline_label: '记住我', label: false if devise_mapping.rememberable?  %>
    </div>
      <%= f.button :submit, "登陆" %>
<% end %>

<h3 >
  <%= link_to '使用微博登陆',user_omniauth_authorize_path(:weibo), class: 'red' %>
</h3>


<%#= render "devise/shared/links" %>
