
<div class="row signin">
  <div class="span6">
    <h3 >
      <%= link_to user_omniauth_authorize_path(:weibo), class: 'signin-weibo' do %>
        <%= image_tag 'weibo_login.png' %>
      <% end  %>
      或者直接登陆：
    </h3>
    <br>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {:class => "form-horizontal"}) do |f| %>
      <div class="control-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'textfield' %></div>
      <div class="control-group">
        <%= f.password_field :password, placeholder: '密码', class: 'textfield' %></div>
    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, class: 'pull-left' %><%= f.label :remember_me %>
    <% end -%>
      <div><%= f.submit "登陆", class: 'btn' %></div>
    <% end %>

  </div>
  <div class="span6">

  </div>
</div>


