<% auto_play = false if local_assigns[:auto_play].nil? %>

<div class="cover-micropost span12" id=<%= dom_id(@micropost)%> >
  <% if @micropost %>
      <div class="cover-head-wrapper">
        <div class="icons pull-right">
          <!--<i class="icon-random icon-2x"></i>-->
          <% if !current_user %>
              <%= link_to(like_micropost_path(@micropost, type: "like"), method: "post", class: "like")  do  %>
                  <i class="icon-heart icon-2x"></i>
              <% end %>
          <% else %>

              <% if current_user && current_user.like_for?(@micropost) %>
                  <%= link_to(like_micropost_path(@micropost, type: "unlike"), method: "post", class: "like on", remote: true) do  %>
                      <i class="icon-heart icon-heart-red icon-2x"></i>
                  <% end %>
              <% else %>
                  <%= link_to(like_micropost_path(@micropost, type: "like"), method: "post", class: "like", remote: true)  do  %>
                      <i class="icon-heart icon-2x"></i>
                  <% end %>
              <% end %>
          <% end %>

          <%= link_to(shuffle_again_microposts_path, remote: true) do %>
              <i class="icon-random icon-2x"></i>
          <% end %>

        </div>
        <div class="title">
          <h4 class="cover-micropost-title"><%= @micropost.title %></h4>
        </div>

      </div>

      <% if auto_play %>
      <embed src="<%= asset_path('youku.swf') %>?showAd=0&VideoIDS=<%= @micropost.video_id %>&isAutoPlay=true"
             allowFullScreen="true" quality="high"  align="middle"
             allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
      <% else %>
      <embed src="<%= asset_path('youku.swf') %>?showAd=0&VideoIDS=<%= @micropost.video_id %>"
             allowFullScreen="true" quality="high"  align="middle"
             allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
      <% end %>


  <% end %>
</div>
