
            <div class="micropost span4" id=<%= dom_id(micropost)%> >

                <%= link_to micropost.auto_link, target: '_blank', class: 'external' do %>
                  <div class="link_info">


                        <div class="center_content <%= 'img-title' if micropost.video_logo_url %>">
                          <h4 class="title"><%= micropost.title %> </h4>
                          <% unless micropost.video?  %>
                              <h6><%= micropost.source %></h6>
                          <% end %>
                          <p><%= micropost.content %></p>

                    </div>
                  </div>
                  <%# if micropost.is_video?  %>
                      <div class="img img_wrapper"
                           style="background-image: url('<%= micropost.video_logo_url  %>');">  </div>
                  <%# end %>
              <% end %>

              <div class="info">
                    <% if micropost.user %>
                        <%= link_to  micropost.user do %>
                              <h6>Post by <%= micropost.user.name %></h6>
                            <% end %>
                    <% else %>
                        <h6>Post by <%= micropost.username || 'just4magic' %></h6>
                    <% end %>
              <div class="like_info">
                <% if !current_user %>
                    <%= link_to(like_micropost_path(micropost, type: "like"), method: "post", class: "like")  do  %>
                        <i class="icon-heart"></i>
                    <% end %>
                <% else %>

                      <% if current_user && current_user.like_for?(micropost) %>
                          <%= link_to(like_micropost_path(micropost, type: "unlike"), method: "post", class: "like on", remote: true) do  %>
                              <i class="icon-heart icon-heart-red"></i>
                          <% end %>
                      <% else %>
                          <%= link_to(like_micropost_path(micropost, type: "like"), method: "post", class: "like", remote: true)  do  %>
                              <i class="icon-heart"></i>
                          <% end %>
                      <% end %>
                <% end %>
                 <span class="like_number"><%= micropost.reputation_for(:likes).to_i %></span>
                </div>
              </div>
            </div>


