<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
   <h2>视频地址</h2>   <span>目前只支持youku，比如http://v.youku.com/v_show/id_XMTUyMzg1NTA0.html</span><br />
      <%= f.text_field :video_url %>
   </div>

 <!-- <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
-->
  <div class="actions">
    <%= f.submit  '提交', class: 'btn' %>
  </div>
<% end %>
