<!DOCTYPE html>
<html>
<head>
  <title>Shuffle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="wb:webmaster" content="76037d06a69a83b8" />
</head>
<body>

<div class="container">

  <div class="row">
    <!--<div class="span6 offset3">-->
    <div class="span12">
      <%= render "layouts/header" %>
      <!--alert messages-->
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <h6 class="cover-micropost-title"><%= @micropost.title %></h6 >
      <div class="icons">
        <i class="icon-heart icon-2x"></i>
        <i class="icon-heart icon-heart-red icon-2x"></i>
        <i class="icon-random icon-2x"></i>
        <i class="icon-refresh icon-2x"></i>
        <%= link_to "shuffle again", shuffle_again_microposts_path, remote: true %>
      </div>

    </div>







      <div class="span12">
        <%= render "layouts/footer" %>
      </div>


    </div>
  </div>
<!--</div>-->


</body>
</html>
