<h1>Listing microposts</h1>

<div class="row">
  <% @microposts.each do |micropost| %>
    <div class="span3 micropost">
       <h5><%= micropost.title %> </h5>
      <% if micropost.video_id %>
          <%= image_tag(micropost.video_thumbnail_url)  %>
          <!--<iframe height=300 width=300 src="http://player.youku.com/embed/<%#= micropost.video_id %>" frameborder=0-->
                  <!--allowfullscreen></iframe>-->
      <% end %>
    </div>

  <% end %>

</div>


<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>video_Url</th>
    <th>video_ID</th>
    <th>article_Url</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= micropost.title %></td>
    <td><%= micropost.content %></td>
    <td><%= micropost.video_url %></td>
    <td><%= micropost.video_id %></td>
    <td><%= micropost.article_url %></td>
    <td><%= micropost.user_id %></td>
    <td><%= link_to 'Show', micropost %></td>
    <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
    <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micropost', new_micropost_path %>
