<div class="row all-posts">


  <%= render('cover-micropost') %>


  <%= render('microposts') %>

<!--  <div class="microposts-title span12">
    <h4 class="inline">最近分享……</h4>

    <div class="pull-right">
    <h6><%= link_to 'More', index2_microposts_path %></h6>
    </div>
  </div>

  <%= render('new_microposts') %>-->

  <div class="span12 intro">

    <h1 class="center">发现了什么有意思的魔术？</h1>
    <h1 class="center">不妨<%= link_to '告诉大家', new_micropost_path, class: 'red' %></h1>
  </div>


</div>
