
<div class="footer-wrapper">
  <div class="container">
    <div class="footer span12">
      <div class="menu">
        <%= link_to "摇一摇", shuffle_microposts_path %>
        <%= link_to "添加视频", new_micropost_path %>
        <%= link_to "News", news_items_path %>
        <% if user_signed_in? %>
             <%= link_to "All", index2_microposts_path %>
        <% end %>
      </div>


      <div class="sign-in pull-right">
        <% if user_signed_in? %>
            <%= link_to current_user.name, current_user %>
         <!--<span>  <%= current_user.name %>   </span>-->
            <%= link_to '登出', destroy_user_session_path, method: :delete %>

        <% else %>
            <%= link_to '申请内测',intro_path %>

            <%= link_to '微博登陆',user_omniauth_authorize_path(:weibo) %>
        <% end %>

        <%#= link_to 'Admin', admin_panel_microposts_path %>
      </div>
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

    </div>

  </div>
</div>


