<!DOCTYPE html>
<html>
<head>
  <title>just4Magic - 在这里，发现奇迹</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="wb:webmaster" content="76037d06a69a83b8" />
</head>
<body>



  <div class="row">


          <%= render "layouts/footer" %>
        <!--alert messages-->



 <div class="main-wrapper">
       <div class="container">

         <div class="span12">
           <%= yield %>
         </div>
   </div>
 </div>
   <div class="container">
     <div class="span12">
       <%= render "layouts/header" %>
     </div>
   </div>



   </div>

  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag 'masonry.pkgd' %>
</body>
</html>
