<!DOCTYPE html>
<html>
<head>
  <title>just4Magic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="wb:webmaster" content="76037d06a69a83b8" />
</head>
<body>

<div class="container">

  <div class="row">

        <div class="span12">

        <!--alert messages-->
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>

        </div>



        <div class="span12">
          <%= yield %>
        </div>


        <div class="span12">
          <%= render "layouts/footer" %>
          <%= render "layouts/header" %>
        </div>

   </div>
</div>


</body>
</html>
